.green-primary-btn {
    /* background-color: blueviolet !important; */
    background-color: #7bfb9f !important;
    color: black !important;
    position: relative !important;
    width: 413px !important;
    height: 53px !important;
    /* left: 883px;
    top: 508px; */
    /* border: #7bfb9f; */
    outline: none !important;
    outline-offset: none !important;
    border-radius: 30px !important;
    box-shadow: none !important;
}
